*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    padding: 20px 43px;
    border: none;
}
.banner-container{
    height: 100vh;
    display: flex;
    align-items: center;
    background: rgba(229, 84, 115, 0.10);
}
.banner-title{
    font-size: 45px;
}
.banner-details{
    text-align: left;
    padding-left: 150px;
}
.banner-description{
    margin-top: 10px;
    width: 70%;
}
.banner-img{
    height: 500px;
    width: 400px;
    align-items: center;
    margin: 0 auto;
}
.bg-primary{
    color: white;
    margin-top: 10px;
    border-radius: 8px;
    background: #E55473;
    font-size: 15px;
}
.featured-flower{
    background: #FFF;
    border-radius: 10px;
    margin-top: 150px;
    align-items: center;
    justify-content: space-around;

}
.f-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.f-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-images{
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    text-align: center;
}
.red-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.pink-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.yolow-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
.f-img{
    height: 400px;
    width: 300px;
}
.flower-name{
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration-line: underline;
}
.support-sys{
    max-width: 1200px;
    margin: 100px auto;

    
}
.support-center{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 20px;
}
.deal{
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}
.deal-image{
    width: 400px;
}
.deal-details{
    text-align: center;
    width: 600px;
    padding-left: 150px;

}
.deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}
.galarry{
    max-width: 1200px;
    margin: 40px auto;
    align-items: center;
    padding-left: 200px;
}
.galarry-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 40px;
}
.galarry-images{
    justify-content: space-around;
    align-items: center;
}
.galary-img{
    height: 250px;
    width: 250px;
}
.view-flower{
    max-width: 1200px;
    background: #FFF;
    border-radius: 10px;
    margin: 50px auto;

}
.view-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.view-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.view-images{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 50px;
}
.view-img{
        height: 300px;
        width: 300px;
}
.info{
    height: 400px;
    max-width: 1200px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px auto;
}
.info-cupon{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.sub-input{
    width: 500px;
    height: 50px;
}
.info-details{
    text-align: center;
    padding-top: 130px;
}
.info-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.sub-info{

}
.footer{
    margin: 100 auto;
    text-align: center;
    background-color: black;
    height: 250px;
    padding-top: 50px ;
}
.footer-title{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}
.footer-details{
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.footer-info{
    color: #FFFFFF;
}
.footer-icon{
    color: #E55473;
}